*{
    margin: 0;
    padding: 0;

}

li{
    text-align: center;
    padding: 20px;
}
li h2{
    color: #4ECDC4;
    border-radius: 5px;
    padding: 10px;

}
li h2:hover{
    background-color: #4ECDC4;
   color: white;

}

ul {
list-style-type: none;
display: flex;
text-decoration: none;
}

h2{
    text-decoration: none;
}
.head{
    background-color: #292F32;
    text-align: center;
    font-size: large;
    color: #4ECDC4 ;
     font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif ;
}

